#SubChrome {
  position: fixed;
  z-index: 999999999;
}
#SubChrome body {
  font-size: 20px;
  margin: 5px;
}
#SubChrome dl,
#SubChrome dd {
  margin-left: 10px;
}
#SubChrome .form-control {
  width: 100%;
}
#SubChrome {
  padding: 5px;
  width: 100%;
}
#SubChrome .search {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
#SubChrome .search input[type=text] {
  height: 40px;
}
#SubChrome .search .dropdown {
  margin-top: -5px;
  border: 1px solid black;
  background-color: white;
}
#SubChrome .search ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#SubChrome .search li:last-of-type {
  padding-bottom: 20px;
}
#SubChrome .search .results {
  opacity: 0.35;
}
#SubChrome .search .results.active {
  opacity: 1;
}
#SubChrome .search .results p {
  margin-bottom: 5px;
}
#SubChrome .app {
  margin: 20px;
}
#SubChrome .app > i {
  font-size: 80px;
  vertical-align: middle;
}
#SubChrome .app .icon-ok,
#SubChrome .app .icon-smile {
  color: green;
}
#SubChrome .app .icon-meh,
#SubChrome .app .icon-minus {
  color: yellow;
}
#SubChrome .app .icon-frown,
#SubChrome .app .icon-remove {
  color: red;
}
#SubChrome .app img {
  width: 128px;
  height: 128px;
  margin-right: 10px;
  display: inline-block;
}
#SubChrome .app .name {
  display: inline-block;
  vertical-align: middle;
  font-size: 80px;
}
#SubChrome .app i {
  margin-right: 10px;
}
#SubChrome .app .group {
  font-size: 64px;
}
#SubChrome .app .perm {
  font-size: 32px;
  display: block;
}
