header {
	padding: 5px;

	.search {
		position: relative;
		
		width: 80%;
		margin: 0 auto;
		padding-top: 20px;

		input[type=text] {
		    font-size: 32px;
		    line-height: 36px;
		    height: 40px;
		}

		 ul {
		    background-color: #FFF;
		    margin: 0;
		    padding: 0;
		    list-style: none;
		}

		.results {
		    min-height: 64px;
		    opacity: 0.35;
		}

		.results.active {
		    opacity: 1;
		}

		 .results.active .name {
		    color: black;
		}

		.results img {
			width: 128px;
			height: 128px;
			display: inline-block;
		}

		.results .name {
			display: inline-block;
		    font-size: 90px;
		    vertical-align: middle;
		    line-height: 30px;
		}

		.results p {
		    margin-bottom: 5px;
		}
	}
}
