#SubChrome{
	padding: 5px;
	width: 100%;

	.search {
		position: relative;
		
		width: 80%;
		margin: 0 auto;
		padding-top: 20px;

		input[type=text] {
		    font-size: 32px;
		    line-height: 36px;
		    height: 40px;
		}

		.dropdown {
			margin-top: -5px;
			border: 1px solid black;
			background-color: white;
		}

		ul {
		    margin: 0;
		    padding: 0;
		    list-style: none;
		    border-bottom-right-radius: 5px;
		    border-bottom-left-radius: 5px;
		}

		li:last-of-type{
			padding-bottom: 20px;
		}

		.results {
		    min-height: 64px;
		    opacity: 0.35;
		}

		.results.active {
		    opacity: 1;
		}

		.results p {
		    margin-bottom: 5px;
		}
	}
}