<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    
    <!-- build:css(.tmp) styles/bootstrap.css -->
    <link href="bower_components/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet" >
    <link href="bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet" >
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/font-awesome.css -->
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/main.css">
</head>
  <body ng-app="TheApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

<section ng-controller="MainCtrl">
  <header>
    <nav>
        <typeahead  class="search" items="apps"
                    term="term" search="search(term)" select="select(item)">     
          <ul>
              <li typeahead-item="app" ng-repeat="app in apps" class="results app">
                  <img ng-src="{{ app.img }}">
                  <h3 class="name">{{ app.name }}</h3>
              </li>
          </ul>
        </typeahead>
    </nav>
  </header>

  <article class="app" ng-show="selected_app !== null">
    <i class="icon-{{ selected_app.approval }}"></i><h3 class="name">{{ selected_app.name }}</h3>
    <dl>
      <dt class="group" ng-repeat-start="(group_text, group) in selected_app.permissions">
        <i class="icon-{{ group.icon }}"></i>{{ group_text }}
      </dt>
      <dd ng-repeat-end>
        <ol>
          <li class="perm" ng-repeat="(text, approval) in group.perm">
            <i class="icon-{{ approval }}"></i>{{ text }}
          </li>
        </ol>
      </dd>
    </dl>
  </article>
</section>
    
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/androidapps.js"></script>
    <script src="scripts/services/simplepermissions.js"></script>
    <script src="scripts/directives/typeahead.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->
</body>
</html>
